@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --jonny: rgb(209, 56, 56);
  --walker: #da6c23;
}
body {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: rgba(165, 42, 42, 0.9);
  color: #fff;
  position: fixed;
}

.nav-logo {
  display: flex;
  margin-left: 20px;
}
.d-icon {
  margin-top: 5px;
  margin-bottom: 8px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
ul {
  display: flex;
  margin-right: 100px;
  list-style-type: none;
  gap: 15px;
  align-items: center;
}
.li-btn {
  color: #fff;
  background-color: rgba(165, 42, 42, 0.4);
  border: none;
  font-size: 25px;
  border-radius: 2px;
}
.li-btn:hover {
  background-color: rgb(160, 24, 160);
  border-radius: 2px;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 17px;
}
.text {
  opacity: 0.8;
}
.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.container {
  min-height: 100vh;
}
.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px;
  background-color: aliceblue;
  text-align: center;
}
#local-meal {
  height: 100vh;
}
.meal-search {
  margin: 32px 0;
}
.meal-search cite {
  font-size: 16px;
}
.meal-search-box {
  margin: 18px 0;
  display: flex;
}
.search-control,
.search-btn {
  width: 100%;
}
.search-control {
  padding: 0 16px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--jonny);
  color: var(--jonny);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.search-control::placeholder {
  color: crimson;
}
.search-btn {
  width: 55px;
  height: 55px;
  font-size: 28px;
  background: var(--jonny);
  color: #fff;
  border: none;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.search-btn:hover {
  background: var(--walker);
}
.meal-result {
  margin-top: 64px;
}
#meal {
  margin: 40px 0;
}
.meal-item {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 1.5rem 0.5rem;
}
.meal-name h3 {
  font-size: 22px;
}
.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--jonny);
  font-weight: 500;
  font-size: 17px;
  padding: 12px 0;
  display: block;
  width: 175px;
  margin: 16px auto;
  border-radius: 32px;
}
.recipe-btn:hover {
  background: var(--walker);
}

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #fff;
  background: var(--walker);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 32px 0;
}

.meal-details::-webkit-scrollbar {
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
}

.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 32px;
}
.meal-details-content p:not(.recipe-category) {
  padding: 16px 0;
}
.recipe-close-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--jonny);
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  -webkit-border-radius: 0.3rem;
}
.recipe-instruct {
  padding: 16px 0;
}
.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
}
.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
}
.recipe-link a:hover {
  opacity: 0.8px;
}

.notFound {
  grid-template-columns: 1fr !important;
  color: var(--jonny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  nav {
    background-color: coral;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .logo {
    font-size: 14px;
  }

  ul {
    width: 100;
    gap: 10px;
    margin-right: 10px;
  }
  .li-btn {
    font-size: 11px;
    gap: 5px;
    background-color: coral;
  }
}
@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
.head {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
